.env

# Dev shell scripts
dev-rebuild.sh
droplet-ssh-connect.sh
droplet-management.sh
dev-new.sh

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Python distribution/packaging
*.egg-info/
dist/
build/
*.egg

# Java/Maven
*.jar
target/
.mvn/
.idea/
*.iml