.env

# Dev shell scripts
dev-rebuild.sh
droplet-ssh-connect.sh
dev-update-droplet.sh

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Python distribution/packaging
*.egg-info/
dist/
build/
*.egg